In [1]:
str1, num1, num2   = "Taqi", 25 , 25.5
print(str1,num1,num2)

Taqi 25 25.5

In [2]:
name, age,salary = "Taqi", 25 , 2500.5

print(name,age,salary)
# String formatting with %s
print("My name is %s " % (name))
# String formatting with %d
print("My age is %d" % age)
# String formatting with %f
print("My salary is %f" % salary)

Taqi 25 2500.5
My name is Taqi
My age is 25
My salary is 2500.500000

In [1]:
print("hello")

hello

In [4]:
str1 = "Taqi"

print("str1 = ", str1)
print("str1[0:4:2] = ", str1[0:4:2])

str1 =  Taqi
str1[0:4:2] =  Tq

In [6]:
# initilize the variables
a = 5
b = 10
c = 3
print("a = %d, b = %d, c = %d" % (a, b, c))

a = 5, b = 10, c = 3

In [7]:
str1 = "Taqi"
str2 = "Javed"
con_str = str1 + " " + str2

print("con_str = ", con_str)

con_str =  Taqi Javed

In [8]:
str1 = "Taqi"

print("str1 = ", str1)
print("str1 * 3 = ", str1 * 3)

str1 =  Taqi
str1 * 3 =  TaqiTaqiTaqi

In [9]:
str1 = "Taqi"

print("str1 = ", str1)
print("str1[0] = ", str1[0])

str1 =  Taqi
str1[0] =  T

In [10]:
str1 = "Taqi"

print("str1 = ", str1)
print("str1[-1] = ", str1[-1])

str1 =  Taqi
str1[-1] =  i

In [11]:
str1 = "Taqi"

print("str1 = ", str1)
print("str1[0:2] = ", str1[0:2])

str1 =  Taqi
str1[0:2] =  Ta

In [13]:
str1 = "Taqi"

print("str1 = ", str1)
print("str1[-4:-2] = ", str1[-4:-2])

str1 =  Taqi
str1[-4:-2] =  Ta

In [15]:
str1 = "Taqi"

print("str1 = ", str1)
print("str[0:4:2] = ", str1[0:4:2])

str1 =  Taqi
str[0:4:2] =  Tq

In [16]:
name, age,salary = "Taqi", 25 , 2500.5

print(name,age,salary)
# String formatting with %s
print("My name is %s " % (name))
# String formatting with %d
print("My age is %d" % age)
# String formatting with %f
print("My salary is %f" % salary)

Taqi 25 2500.5
My name is Taqi
My age is 25
My salary is 2500.500000

In [17]:
name, age,salary = "Taqi", 25 , 2500.5

print(name,age,salary)
# String formatting with %s
print("My name is %s " % (name))
# String formatting with %d
print("My age is %d" % age)
# String formatting with %f
print("My salary is %f" % salary)

Taqi 25 2500.5
My name is Taqi
My age is 25
My salary is 2500.500000

In [4]:
list = [1, 2, 3]
print("list_before_append = ", list)

list.append(4)
print("list_after_4_append = ", list)

list.append(5)
print("list_after_5_append = ", list)

list_before_append =  [1, 2, 3]
list_after_4_append =  [1, 2, 3, 4]
list_after_5_append =  [1, 2, 3, 4, 5]

In [12]:
list1 = [1, 2, 3, 4, 5]
list1.clear()

print("list1 = ", list1)

list1 =  []